<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, :size => '100x100', format: 'jpeg', fallback: "no_image.jpg", class: "attachment user profile_image fallback" %>
<table class="table">
    <tbody id="info_table">
        <%= render 'relationships/info_table', user: user %>
    </tbody>
</table>
<div class="row">
<% if user == current_user%>
    <%= link_to "", edit_user_path(user), class: "btn btn-outline-secondary btn-block fas fa-user-cog mt-3" %>
<% else %>
    <div id="follow__btn--<%= user.id %>", class="mx-auto">
        <%= render 'relationships/follow', user: user %>
    </div>
<% end %>
</div>